@media screen and (min-width:1000px) {
    .jeans-grid {
        grid-template-columns: repeat(4, 1fr);
        gap: 2rem;
        grid-template-rows: repeat(3, 1fr);
    }
}
@media screen and (max-width:999px) {
    .jeans-grid {
        grid-template-columns: repeat(3, 1fr);
        gap: 2rem;
        grid-template-rows: repeat(4, 1fr);
    }
}

@media screen and (max-width:799px) {
    .jeans-grid {
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
        grid-template-rows: repeat(6, 1fr);
    }
}
@media screen and (max-width:499px) {
    .jeans-grid {
        grid-template-columns: repeat(1, 1fr);
        gap: 2rem;
        grid-template-rows: repeat(12, 1fr);
    }
}



.jeans-grid {
    position:relative;
    display: grid;
    overflow: hidden;
    width: 100%;
    grid-auto-flow: row;
    padding-bottom: 4rem;
}

.jeans-box {
    width: auto;
    height: 60vh;
    border-radius: 5%;
    padding: 2rem;
}

.jeans-box a {
    text-decoration: none;
    color: black;
    text-align: center;
}

.jeans-box a span {
    margin-right: 2rem;
    font-size: large;
}

.image-box {
    background: rgba(255, 255, 255, 0.4);
    display: flex;
    justify-content: center;
    align-content: center;
    width: auto;
    height: 55VH;
    position: relative;
    border: 14px solid white;
    border-radius: 15%;
    box-shadow: 2px 2px 4px black;
    overflow: hidden;
}

.image-box img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-height: 100%;
    width: auto;
    border-radius: 20%;
}

.second-image {
    opacity: 0;
}

.jeans-box:hover .first-image {
    opacity: 0;
}

.jeans-box:hover .second-image {
    opacity: 1;
  
}
