---
layout: site
title: jeans
permalink: /category/jeans
---

{% include go-back.html %}
<div class="products-grid">
    {% for jeans in site.jeans %}
    <div class="products-box">
        <a href="{{site.baseurl}}{{jeans.url}}">
            <span class="products-image-box">
                <img class="products-first-image" src="{{site.baseurl}}/resources/images/{{jeans.image-index}}.jpg">
                <img class="products-second-image" src="{{site.baseurl}}/resources/images/{{jeans.image-index}}b.jpg">
            </span>

            <span>{{jeans.description}}</span>
            <span>{{jeans.price}}lv.</span>
        </a>
    </div>
    {% endfor %}
</div>