.box {
  display: grid;
  height: 5rem;
  width: 5rem;
  background: black;
  color: white;
  text-align: center;
  border: 1px solid grey;
  box-shadow: 3px 3px 1.5px #888888 inset,3px 3px 1.5px #888888; }

.board {
  display: grid;
  grid-template-columns: repeat(8, auto);
  grid-template-rows: repeat(8, auto);
  gap: 2rem;
  justify-content: center;
  align-content: center;
  margin: 1rem;
  border: 1px solid black;
  padding: 0.5rem; }

.board div:hover {
  display: grid;
  background: green;
  color: greenyellow;
  justify-self: center;
  align-self: center;
  content: url("/font/440monkey_100806.svg"); }
